deap==1.4.2
matplotlib==3.8.0
numpy==1.24.4
numpy==1.24.2
numpy==1.24.3
opencv_contrib_python_headless==4.10.0.84
opencv_python==4.10.0.84
opencv_python==4.9.0.80
opencv_python==4.10.0.82
opencv_python_headless==4.10.0.84
pandas==3.0.3
scikit_learn==1.2.2
scipy==1.11.4
Shapely==2.1.2
sympy==1.12
sympy==1.13.3
sympy==1.13.1
torch==2.3.0+cu118
torch==2.3.0
torch==2.5.1+cu121
tqdm==4.66.4
tqdm==4.65.0
